

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: burlywood;

}



.container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: aliceblue;
border-radius: 4px;
padding: 5px;
background-color: black;
}


.container button{
cursor: pointer;
}

.container button  :hover{
    background: cornflowerblue;
}
    
    